h1{
  color: slateblue;
  display: flex;
  justify-content: center;
}
.total{
  font-size: 2rem;
}
#cases{
  display: flex;
  justify-content: space-around;
}
.tc{
  color: slateblue;
}
.ac{
  color: limegreen;
}
.death{
  color: red;
}
tr{
  display: flex;
  justify-content: space-around;
  margin: 10px;
}
.bt{
  margin-left: 120px;
}
