h1{
  color: slateblue;
  display: flex;
  justify-content: center;
}
.total{
  font-size: 2rem;
}
#cases{
  display: flex;
  justify-content: space-around;
}
.tc{
  color: slateblue;
}
.ac{
  color: limegreen;
}
.death{
  color: red;
}
tr{
  display: flex;
  justify-content: space-around;
  margin: 10px;
}
.bt{
  margin-left: 120px;
}
.back{
  font-size: 16px;
  background-color: slateblue;
  color: white;
  border-radius: 12px;
  padding-left: 15px;
  padding-right: 15px;
}
.item{
  color: slateblue;
  background-color: white;
  border-radius: 8px;
  font-size: 15px;
}
.data{
  margin: 20px;
  color:red;
  display: flex;
  justify-content: center;
}
