h1{
  color: slateblue;
  display: flex;
  justify-content: center;
}
.total{
  font-size: 2rem;
}
#cases{
  display: flex;
  justify-content: space-around;
}
.tc{
  color: slateblue;
}
.ac{
  color: limegreen;
}
.death{
  color: red;
}
tr{
  display: flex;
  justify-content: space-around;
}
.bt{
  margin-left: 120px;
}
.th{
  padding-left: 120px;
}
.date{
  //background-color: slateblue;
  color: slateblue;
  border: 2px solid black;
  border-radius: 12px;
  font-size: 16px;
  padding-left: 5px;
  padding-right: 5px;
}
.back{
  font-size: 16px;
  background-color: slateblue;
  color: white;
  border-radius: 12px;
  padding-left: 15px;
  padding-right: 15px;
}
.row1{
  position: absolute;
  left: 155px;
}
.row2{
  position: absolute;
  left: 342px;
}
.row3{
  position: absolute;
  left: 522px;
}
.row4{
  position: absolute;
  left: 750px;
}
.row5{
  position: absolute;
  left: 1000px;
}
.row6{
  position: absolute;
  left: 1225px;
}
.row7{
  position: absolute;
  left: 1400px;
}
tr{
  margin-top: 35px;
}
.not-found{
  display: flex;
  justify-content: center;
  color: red;
  font-size: 20px;
}

