h1{
  color: slateblue;
  display: flex;
  justify-content: center;
}
.total{
  font-size: 2rem;
}
#cases{
  display: flex;
  justify-content: space-around;
}
.tc{
  color: slateblue;
}
.ac{
  color: limegreen;
}
.death{
  color: red;
}
tr{
  display: flex;
  justify-content: space-around;
  margin: 10px;
}
.bt{
  margin-left: 120px;
}
.th{
  padding-left: 120px;
}
.date{
  //background-color: slateblue;
  color: slateblue;
  border: 2px solid black;
  border-radius: 12px;
  font-size: 16px;
  padding-left: 5px;
  padding-right: 5px;
}
.back{
  font-size: 16px;
  background-color: slateblue;
  color: white;
  border-radius: 12px;
  padding-left: 15px;
  padding-right: 15px;
}
